<div class="container">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>S.No.</th>
                <th>Company Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let company of companies;let rowIndex=index">
                <td>{{rowIndex+1}}</td>
                <td>{{company.name}}</td>
                <td><button (click)="showProducts(company._id)">Products</button></td>
                <td><button (click)="update(company._id)">Update</button></td>
                <td><button (click)="delete(company._id)">Delete</button></td>
            </tr>
        </tbody>
    </table>

    <div>
        <button [routerLink]="['/add-company']">Add Company</button>
    </div>
    
</div>
