<div class="container-fluid">
    <div class="row justify-content-md-center d-flex">
        <div class="col-md-12 dark text-center">
            <h1> {{company}}'s Products </h1>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>S.No.</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products;let rowIndex=index">
                <td>{{rowIndex + 1}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.amount}}</td>
                <td><img src="{{product.image}}"></td>
                <td><button (click)="update(product._id)">Update</button></td>
                <td><button (click)="delete(product._id)">Delete</button></td>
            </tr>
        </tbody>
    </table>

    <td><button (click)="addProduct()">Add Product</button></td>

    <div>
        <button [routerLink]="['/companies-list']">Go Back</button>
    </div>
    
</div>