<div class="container-fluid">
    <div class="row justify-content-md-center d-flex">
        <div class="col-md-12 dark text-center">
            <h1> Welcome </h1>
        </div>
    </div>
    <div class="row border-top">
        <div class="col-md-2 border-right border-bottom search-col">
            <h5 class="title">Search By:</h5>
            <form #searchForm="ngForm">

                <!-- By Company -->
                <div class="form-group">
                    <label for="company">Company</label> <br/>
                    <select class="form-control" name="company" [(ngModel)]="searchFormData.company">
                        <option *ngFor="let company of companys" [value]="company._id">
                            {{company.name}}
                        </option>
                    </select>
                </div>
            </form>
            <!-- Search Button -->
            <button class="btn btn-outline-dark btn-block" (click)="search()">Search</button>
        </div>
        <div class="col-md-10">
            <div class="row">
                <ng-container *ngFor="let product of products; let i=index">
                    <div class="col-auto m-3">
                        <p class="text-center company-name">{{product.company_id}}</p>
                        <div class="item">
                            <p class="text-center product-name">{{product.name}}</p>
                            <img class="mx-auto d-block p-1 product-image" src="{{product.image}}"/>
                            <p class="text-center info">
                                <span>Price: ${{product.price}} | </span>
                                <span>Quantity: {{product.amount}}</span>
                            </p>
                            <p class="details">{{product.details}}</p>
                            <button class="btn btn-success btn-block" (click)="addToCart(product._id)">Add To Cart</button>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
